(edif DM74LS47
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2013 11 5 15 48 4)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "E-2010.09A-1, mapper mapact, Build 023R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell XOR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A ^ B"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell XO1A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(A ^ B) + C"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT)
 )
         )
       )
    )
    (cell OR3C (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A + !B + !C"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell OR3B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A + !B + C"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell OR2B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A + !B"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell OR2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A + B"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell OR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A + B"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell OA1B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!C & (A + B)"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell OA1 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(A + B) & C"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR3A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B + C)"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B)"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
       )
    )
    (cell AOI1B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(A & B + !C)"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell AO1C (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(!A & B) + !C"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell DM74LS47 (cellType GENERIC)
       (view behaviour (viewType NETLIST)
         (interface
           (port Ain (direction INPUT))
           (port Bin (direction INPUT))
           (port Cin (direction INPUT))
           (port Din (direction INPUT))
           (port a (direction OUTPUT))
           (port b (direction OUTPUT))
           (port c (direction OUTPUT))
           (port d (direction OUTPUT))
           (port e (direction OUTPUT))
           (port f (direction OUTPUT))
           (port g (direction OUTPUT))
         )
         (contents
          (instance (rename mergedbits_out_1_0_i_a3_0_1_4 "mergedbits_out_1_0_i_a3_0_1[4]") (viewRef prim (cellRef OR2 (libraryRef PA3)))          )
          (instance (rename mergedbits_out_1_i_0_a3_5 "mergedbits_out_1_i_0_a3[5]") (viewRef prim (cellRef OR3B (libraryRef PA3)))          )
          (instance (rename mergedbits_out_1_0_i_a3_4 "mergedbits_out_1_0_i_a3[4]") (viewRef prim (cellRef OR3C (libraryRef PA3)))          )
          (instance (rename mergedbits_out_1_i_0_a3_0_3 "mergedbits_out_1_i_0_a3_0[3]") (viewRef prim (cellRef OR3B (libraryRef PA3)))          )
          (instance (rename mergedbits_out_1_i_0_5 "mergedbits_out_1_i_0[5]") (viewRef prim (cellRef OR3C (libraryRef PA3)))          )
          (instance (rename mergedbits_out_1_i_0_3 "mergedbits_out_1_i_0[3]") (viewRef prim (cellRef OR3C (libraryRef PA3)))          )
          (instance (rename mergedbits_out_1_i_i_0 "mergedbits_out_1_i_i[0]") (viewRef prim (cellRef NOR3A (libraryRef PA3)))          )
          (instance (rename mergedbits_out_1_i_0_a3_0_6 "mergedbits_out_1_i_0_a3_0[6]") (viewRef prim (cellRef XO1A (libraryRef PA3)))          )
          (instance (rename mergedbits_out_1_i_0_a3_1_5 "mergedbits_out_1_i_0_a3_1[5]") (viewRef prim (cellRef OR2 (libraryRef PA3)))          )
          (instance (rename mergedbits_out_1_i_0_a3_3 "mergedbits_out_1_i_0_a3[3]") (viewRef prim (cellRef OR3C (libraryRef PA3)))          )
          (instance (rename mergedbits_out_1_i_i_a3_2 "mergedbits_out_1_i_i_a3[2]") (viewRef prim (cellRef OA1 (libraryRef PA3)))          )
          (instance (rename mergedbits_out_1_i_i_a3_0 "mergedbits_out_1_i_i_a3[0]") (viewRef prim (cellRef AOI1B (libraryRef PA3)))          )
          (instance (rename mergedbits_out_1_i_i_a2_0 "mergedbits_out_1_i_i_a2[0]") (viewRef prim (cellRef OR2B (libraryRef PA3)))          )
          (instance (rename mergedbits_out_1_i_0_6 "mergedbits_out_1_i_0[6]") (viewRef prim (cellRef OR2B (libraryRef PA3)))          )
          (instance (rename mergedbits_out_1_0_i_4 "mergedbits_out_1_0_i[4]") (viewRef prim (cellRef AO1C (libraryRef PA3)))          )
          (instance (rename mergedbits_out_1_i_i_2 "mergedbits_out_1_i_i[2]") (viewRef prim (cellRef OA1B (libraryRef PA3)))          )
          (instance (rename mergedbits_out_1_0_0_1 "mergedbits_out_1_0_0[1]") (viewRef prim (cellRef OA1B (libraryRef PA3)))          )
          (instance (rename mergedbits_out_1_i_i_o2_2 "mergedbits_out_1_i_i_o2[2]") (viewRef prim (cellRef NOR2A (libraryRef PA3)))          )
          (instance (rename mergedbits_out_1_i_i_x2_0 "mergedbits_out_1_i_i_x2[0]") (viewRef prim (cellRef XOR2 (libraryRef PA3)))          )
          (instance (rename mergedbits_out_1_0_0_o2_1 "mergedbits_out_1_0_0_o2[1]") (viewRef prim (cellRef NOR2A (libraryRef PA3)))          )
          (instance (rename mergedbits_out_1_i_0_o2_5 "mergedbits_out_1_i_0_o2[5]") (viewRef prim (cellRef OR2 (libraryRef PA3)))          )
          (instance (rename mergedbits_out_1_i_0_o2_6 "mergedbits_out_1_i_0_o2[6]") (viewRef prim (cellRef XOR2 (libraryRef PA3)))          )
          (instance (rename mergedbits_out_1_0_i_o2_4 "mergedbits_out_1_0_i_o2[4]") (viewRef prim (cellRef OR2A (libraryRef PA3)))          )
          (instance (rename mergedbits_out_1_i_0_a3_0_5 "mergedbits_out_1_i_0_a3_0[5]") (viewRef prim (cellRef OR3C (libraryRef PA3)))          )
          (instance (rename mergedbits_out_1_i_0_a3_6 "mergedbits_out_1_i_0_a3[6]") (viewRef prim (cellRef OR3C (libraryRef PA3)))          )
          (instance g_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance f_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance e_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance d_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance c_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance b_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance a_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance Din_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance Cin_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance Bin_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance Ain_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (instance VCC_i_0 (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i_0 (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net (rename mergedbits_out_1_1 "mergedbits_out_1[1]") (joined
           (portRef Y (instanceRef mergedbits_out_1_0_0_1))
           (portRef D (instanceRef f_pad))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net N_9 (joined
           (portRef Y (instanceRef mergedbits_out_1_i_i_2))
           (portRef D (instanceRef e_pad))
          ))
          (net N_11 (joined
           (portRef Y (instanceRef mergedbits_out_1_i_i_0))
           (portRef D (instanceRef g_pad))
          ))
          (net Ain_c (joined
           (portRef Y (instanceRef Ain_pad))
           (portRef A (instanceRef mergedbits_out_1_i_0_a3_6))
           (portRef A (instanceRef mergedbits_out_1_i_0_a3_0_5))
           (portRef A (instanceRef mergedbits_out_1_0_i_o2_4))
           (portRef A (instanceRef mergedbits_out_1_0_0_1))
           (portRef A (instanceRef mergedbits_out_1_i_i_2))
           (portRef B (instanceRef mergedbits_out_1_i_i_a2_0))
           (portRef B (instanceRef mergedbits_out_1_i_i_a3_0))
           (portRef A (instanceRef mergedbits_out_1_i_0_a3_3))
           (portRef A (instanceRef mergedbits_out_1_i_0_a3_0_6))
           (portRef C (instanceRef mergedbits_out_1_i_0_a3_0_3))
           (portRef C (instanceRef mergedbits_out_1_i_0_a3_5))
           (portRef A (instanceRef mergedbits_out_1_0_i_a3_0_1_4))
          ))
          (net Ain (joined
           (portRef Ain)
           (portRef PAD (instanceRef Ain_pad))
          ))
          (net Bin_c (joined
           (portRef Y (instanceRef Bin_pad))
           (portRef C (instanceRef mergedbits_out_1_i_0_a3_0_5))
           (portRef B (instanceRef mergedbits_out_1_0_i_o2_4))
           (portRef A (instanceRef mergedbits_out_1_i_0_o2_6))
           (portRef B (instanceRef mergedbits_out_1_i_0_o2_5))
           (portRef A (instanceRef mergedbits_out_1_0_0_o2_1))
           (portRef B (instanceRef mergedbits_out_1_i_i_o2_2))
           (portRef C (instanceRef mergedbits_out_1_i_i_a3_0))
           (portRef A (instanceRef mergedbits_out_1_i_i_a3_2))
           (portRef C (instanceRef mergedbits_out_1_i_0_a3_3))
          ))
          (net Bin (joined
           (portRef Bin)
           (portRef PAD (instanceRef Bin_pad))
          ))
          (net Cin_c (joined
           (portRef Y (instanceRef Cin_pad))
           (portRef B (instanceRef mergedbits_out_1_i_0_o2_6))
           (portRef B (instanceRef mergedbits_out_1_0_0_o2_1))
           (portRef A (instanceRef mergedbits_out_1_i_i_o2_2))
           (portRef A (instanceRef mergedbits_out_1_i_i_a3_0))
           (portRef B (instanceRef mergedbits_out_1_i_i_a3_2))
           (portRef B (instanceRef mergedbits_out_1_i_0_a3_3))
           (portRef B (instanceRef mergedbits_out_1_i_0_a3_0_6))
           (portRef B (instanceRef mergedbits_out_1_0_i_a3_4))
           (portRef A (instanceRef mergedbits_out_1_i_0_a3_5))
          ))
          (net Cin (joined
           (portRef Cin)
           (portRef PAD (instanceRef Cin_pad))
          ))
          (net Din_c (joined
           (portRef Y (instanceRef Din_pad))
           (portRef B (instanceRef mergedbits_out_1_i_0_a3_6))
           (portRef B (instanceRef mergedbits_out_1_i_0_a3_0_5))
           (portRef A (instanceRef mergedbits_out_1_i_0_o2_5))
           (portRef B (instanceRef mergedbits_out_1_i_i_x2_0))
           (portRef C (instanceRef mergedbits_out_1_i_i_a3_2))
           (portRef B (instanceRef mergedbits_out_1_i_0_a3_1_5))
           (portRef A (instanceRef mergedbits_out_1_i_0_a3_0_3))
           (portRef A (instanceRef mergedbits_out_1_0_i_a3_4))
           (portRef B (instanceRef mergedbits_out_1_0_i_a3_0_1_4))
          ))
          (net Din (joined
           (portRef Din)
           (portRef PAD (instanceRef Din_pad))
          ))
          (net a_c (joined
           (portRef Y (instanceRef mergedbits_out_1_i_0_6))
           (portRef D (instanceRef a_pad))
          ))
          (net a (joined
           (portRef PAD (instanceRef a_pad))
           (portRef a)
          ))
          (net b_c (joined
           (portRef Y (instanceRef mergedbits_out_1_i_0_5))
           (portRef D (instanceRef b_pad))
          ))
          (net b (joined
           (portRef PAD (instanceRef b_pad))
           (portRef b)
          ))
          (net N_6_c (joined
           (portRef Y (instanceRef mergedbits_out_1_0_i_4))
           (portRef D (instanceRef c_pad))
          ))
          (net c (joined
           (portRef PAD (instanceRef c_pad))
           (portRef c)
          ))
          (net d_c (joined
           (portRef Y (instanceRef mergedbits_out_1_i_0_3))
           (portRef D (instanceRef d_pad))
          ))
          (net d (joined
           (portRef PAD (instanceRef d_pad))
           (portRef d)
          ))
          (net e (joined
           (portRef PAD (instanceRef e_pad))
           (portRef e)
          ))
          (net f (joined
           (portRef PAD (instanceRef f_pad))
           (portRef f)
          ))
          (net g (joined
           (portRef PAD (instanceRef g_pad))
           (portRef g)
          ))
          (net N_27 (joined
           (portRef Y (instanceRef mergedbits_out_1_i_0_a3_6))
           (portRef B (instanceRef mergedbits_out_1_i_0_6))
          ))
          (net N_18 (joined
           (portRef Y (instanceRef mergedbits_out_1_i_0_o2_6))
           (portRef C (instanceRef mergedbits_out_1_i_0_a3_6))
          ))
          (net N_29 (joined
           (portRef Y (instanceRef mergedbits_out_1_i_0_a3_5))
           (portRef B (instanceRef mergedbits_out_1_i_0_5))
          ))
          (net N_17 (joined
           (portRef Y (instanceRef mergedbits_out_1_i_0_o2_5))
           (portRef C (instanceRef mergedbits_out_1_i_0_a3_0_6))
           (portRef B (instanceRef mergedbits_out_1_i_0_a3_5))
          ))
          (net N_43 (joined
           (portRef Y (instanceRef mergedbits_out_1_i_0_a3_0_5))
           (portRef A (instanceRef mergedbits_out_1_i_0_5))
          ))
          (net N_52 (joined
           (portRef Y (instanceRef mergedbits_out_1_0_i_a3_4))
           (portRef C (instanceRef mergedbits_out_1_0_i_4))
          ))
          (net N_19 (joined
           (portRef Y (instanceRef mergedbits_out_1_0_i_o2_4))
           (portRef C (instanceRef mergedbits_out_1_0_i_a3_4))
          ))
          (net N_16 (joined
           (portRef Y (instanceRef mergedbits_out_1_0_0_o2_1))
           (portRef B (instanceRef mergedbits_out_1_0_0_1))
           (portRef B (instanceRef mergedbits_out_1_0_i_4))
           (portRef B (instanceRef mergedbits_out_1_i_0_a3_0_3))
          ))
          (net N_55 (joined
           (portRef Y (instanceRef mergedbits_out_1_i_0_a3_0_3))
           (portRef C (instanceRef mergedbits_out_1_i_0_3))
          ))
          (net N_44 (joined
           (portRef Y (instanceRef mergedbits_out_1_i_0_a3_1_5))
           (portRef C (instanceRef mergedbits_out_1_i_0_5))
          ))
          (net N_28 (joined
           (portRef Y (instanceRef mergedbits_out_1_i_0_a3_0_6))
           (portRef A (instanceRef mergedbits_out_1_i_0_6))
           (portRef B (instanceRef mergedbits_out_1_i_0_3))
          ))
          (net N_54 (joined
           (portRef Y (instanceRef mergedbits_out_1_i_0_a3_3))
           (portRef A (instanceRef mergedbits_out_1_i_0_3))
          ))
          (net N_62 (joined
           (portRef Y (instanceRef mergedbits_out_1_i_i_a2_0))
           (portRef A (instanceRef mergedbits_out_1_i_0_a3_1_5))
           (portRef A (instanceRef mergedbits_out_1_i_i_0))
          ))
          (net N_58 (joined
           (portRef Y (instanceRef mergedbits_out_1_i_i_a3_0))
           (portRef B (instanceRef mergedbits_out_1_i_i_0))
          ))
          (net N_13 (joined
           (portRef Y (instanceRef mergedbits_out_1_i_i_o2_2))
           (portRef A (instanceRef mergedbits_out_1_i_i_x2_0))
           (portRef B (instanceRef mergedbits_out_1_i_i_2))
           (portRef A (instanceRef mergedbits_out_1_i_i_a2_0))
          ))
          (net N_56 (joined
           (portRef Y (instanceRef mergedbits_out_1_i_i_a3_2))
           (portRef C (instanceRef mergedbits_out_1_i_i_2))
          ))
          (net N_15_i_i_0 (joined
           (portRef Y (instanceRef mergedbits_out_1_i_i_x2_0))
           (portRef C (instanceRef mergedbits_out_1_0_0_1))
           (portRef C (instanceRef mergedbits_out_1_i_i_0))
          ))
          (net (rename mergedbits_out_1_0_i_a3_0_0_4 "mergedbits_out_1_0_i_a3_0_0[4]") (joined
           (portRef Y (instanceRef mergedbits_out_1_0_i_a3_0_1_4))
           (portRef A (instanceRef mergedbits_out_1_0_i_4))
          ))
          (net GND_0 (joined
           (portRef Y (instanceRef GND_i_0))
          ))
          (net VCC_0 (joined
           (portRef Y (instanceRef VCC_i_0))
          ))
         )
       )
    )
  )
  (design DM74LS47 (cellRef DM74LS47 (libraryRef work)))
)
