(edif simple_dip_switch
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2018 11 27 14 15 4)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-2, mapper mapact, Build 1920R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell simple_dip_switch (cellType GENERIC)
       (view rtl (viewType NETLIST)
         (interface
           (port (array (rename sw2 "SW2[0:7]") 8) (direction INPUT))
           (port (array (rename led1 "LED1[0:7]") 8) (direction OUTPUT))
           (port (array (rename led3 "LED3[0:7]") 8) (direction OUTPUT))
         )
         (contents
          (instance (rename LED3_pad_0 "LED3_pad[0]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename LED3_pad_1 "LED3_pad[1]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename LED3_pad_2 "LED3_pad[2]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename LED3_pad_3 "LED3_pad[3]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename LED3_pad_4 "LED3_pad[4]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename LED3_pad_5 "LED3_pad[5]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename LED3_pad_6 "LED3_pad[6]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename LED3_pad_7 "LED3_pad[7]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename LED1_pad_0 "LED1_pad[0]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename LED1_pad_1 "LED1_pad[1]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename LED1_pad_2 "LED1_pad[2]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename LED1_pad_3 "LED1_pad[3]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename LED1_pad_4 "LED1_pad[4]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename LED1_pad_5 "LED1_pad[5]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename LED1_pad_6 "LED1_pad[6]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename LED1_pad_7 "LED1_pad[7]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename SW2_pad_0 "SW2_pad[0]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename SW2_pad_1 "SW2_pad[1]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename SW2_pad_2 "SW2_pad[2]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename SW2_pad_3 "SW2_pad[3]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename SW2_pad_4 "SW2_pad[4]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename SW2_pad_5 "SW2_pad[5]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename SW2_pad_6 "SW2_pad[6]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename SW2_pad_7 "SW2_pad[7]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net (rename SW2_7 "SW2[7]") (joined
           (portRef (member sw2 7))
           (portRef PAD (instanceRef SW2_pad_7))
          ))
          (net (rename SW2_6 "SW2[6]") (joined
           (portRef (member sw2 6))
           (portRef PAD (instanceRef SW2_pad_6))
          ))
          (net (rename SW2_5 "SW2[5]") (joined
           (portRef (member sw2 5))
           (portRef PAD (instanceRef SW2_pad_5))
          ))
          (net (rename SW2_4 "SW2[4]") (joined
           (portRef (member sw2 4))
           (portRef PAD (instanceRef SW2_pad_4))
          ))
          (net (rename SW2_3 "SW2[3]") (joined
           (portRef (member sw2 3))
           (portRef PAD (instanceRef SW2_pad_3))
          ))
          (net (rename SW2_2 "SW2[2]") (joined
           (portRef (member sw2 2))
           (portRef PAD (instanceRef SW2_pad_2))
          ))
          (net (rename SW2_1 "SW2[1]") (joined
           (portRef (member sw2 1))
           (portRef PAD (instanceRef SW2_pad_1))
          ))
          (net (rename SW2_0 "SW2[0]") (joined
           (portRef (member sw2 0))
           (portRef PAD (instanceRef SW2_pad_0))
          ))
          (net (rename LED1_7 "LED1[7]") (joined
           (portRef PAD (instanceRef LED1_pad_7))
           (portRef (member led1 7))
          ))
          (net (rename LED1_6 "LED1[6]") (joined
           (portRef PAD (instanceRef LED1_pad_6))
           (portRef (member led1 6))
          ))
          (net (rename LED1_5 "LED1[5]") (joined
           (portRef PAD (instanceRef LED1_pad_5))
           (portRef (member led1 5))
          ))
          (net (rename LED1_4 "LED1[4]") (joined
           (portRef PAD (instanceRef LED1_pad_4))
           (portRef (member led1 4))
          ))
          (net (rename LED1_3 "LED1[3]") (joined
           (portRef PAD (instanceRef LED1_pad_3))
           (portRef (member led1 3))
          ))
          (net (rename LED1_2 "LED1[2]") (joined
           (portRef PAD (instanceRef LED1_pad_2))
           (portRef (member led1 2))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
           (portRef D (instanceRef LED1_pad_7))
           (portRef D (instanceRef LED1_pad_5))
           (portRef D (instanceRef LED1_pad_3))
           (portRef D (instanceRef LED1_pad_1))
          ))
          (net (rename LED1_1 "LED1[1]") (joined
           (portRef PAD (instanceRef LED1_pad_1))
           (portRef (member led1 1))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
           (portRef D (instanceRef LED1_pad_6))
           (portRef D (instanceRef LED1_pad_4))
           (portRef D (instanceRef LED1_pad_2))
           (portRef D (instanceRef LED1_pad_0))
          ))
          (net (rename LED1_0 "LED1[0]") (joined
           (portRef PAD (instanceRef LED1_pad_0))
           (portRef (member led1 0))
          ))
          (net (rename SW2_c_c_7 "SW2_c_c[7]") (joined
           (portRef Y (instanceRef SW2_pad_7))
           (portRef D (instanceRef LED3_pad_7))
          ))
          (net (rename LED3_7 "LED3[7]") (joined
           (portRef PAD (instanceRef LED3_pad_7))
           (portRef (member led3 7))
          ))
          (net (rename SW2_c_c_6 "SW2_c_c[6]") (joined
           (portRef Y (instanceRef SW2_pad_6))
           (portRef D (instanceRef LED3_pad_6))
          ))
          (net (rename LED3_6 "LED3[6]") (joined
           (portRef PAD (instanceRef LED3_pad_6))
           (portRef (member led3 6))
          ))
          (net (rename SW2_c_c_5 "SW2_c_c[5]") (joined
           (portRef Y (instanceRef SW2_pad_5))
           (portRef D (instanceRef LED3_pad_5))
          ))
          (net (rename LED3_5 "LED3[5]") (joined
           (portRef PAD (instanceRef LED3_pad_5))
           (portRef (member led3 5))
          ))
          (net (rename SW2_c_c_4 "SW2_c_c[4]") (joined
           (portRef Y (instanceRef SW2_pad_4))
           (portRef D (instanceRef LED3_pad_4))
          ))
          (net (rename LED3_4 "LED3[4]") (joined
           (portRef PAD (instanceRef LED3_pad_4))
           (portRef (member led3 4))
          ))
          (net (rename SW2_c_c_3 "SW2_c_c[3]") (joined
           (portRef Y (instanceRef SW2_pad_3))
           (portRef D (instanceRef LED3_pad_3))
          ))
          (net (rename LED3_3 "LED3[3]") (joined
           (portRef PAD (instanceRef LED3_pad_3))
           (portRef (member led3 3))
          ))
          (net (rename SW2_c_c_2 "SW2_c_c[2]") (joined
           (portRef Y (instanceRef SW2_pad_2))
           (portRef D (instanceRef LED3_pad_2))
          ))
          (net (rename LED3_2 "LED3[2]") (joined
           (portRef PAD (instanceRef LED3_pad_2))
           (portRef (member led3 2))
          ))
          (net (rename SW2_c_c_1 "SW2_c_c[1]") (joined
           (portRef Y (instanceRef SW2_pad_1))
           (portRef D (instanceRef LED3_pad_1))
          ))
          (net (rename LED3_1 "LED3[1]") (joined
           (portRef PAD (instanceRef LED3_pad_1))
           (portRef (member led3 1))
          ))
          (net (rename SW2_c_c_0 "SW2_c_c[0]") (joined
           (portRef Y (instanceRef SW2_pad_0))
           (portRef D (instanceRef LED3_pad_0))
          ))
          (net (rename LED3_0 "LED3[0]") (joined
           (portRef PAD (instanceRef LED3_pad_0))
           (portRef (member led3 0))
          ))
         )
        (property orig_inst_of (string "simple_dip_switch"))
       )
    )
  )
  (design simple_dip_switch (cellRef simple_dip_switch (libraryRef work)))
)
