(edif counter40
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2013 11 25 0 56 34)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "E-2010.09A-1, mapper mapact, Build 023R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell XOR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A ^ B"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT)
 )
         )
       )
    )
    (cell NOR3C (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + !B + !C)"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + !B)"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INV (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A"))
 )
           (port A (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
       )
    )
    (cell DFN1P1 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port D (direction INPUT)
 )
           (port PRE (direction INPUT)
           (property preset (integer 1))
 )
         )
        (property is_ff (integer 1))
       )
    )
    (cell DFN1C1 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port CLR (direction INPUT)
           (property clear (integer 1))
 )
           (port D (direction INPUT)
 )
         )
        (property is_ff (integer 1))
       )
    )
    (cell CLKBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_type (string "clock"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell AO1 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(A & B) + C"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell AND3 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A & B & C"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell AND2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A & B"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell counter40 (cellType GENERIC)
       (view behavior (viewType NETLIST)
         (interface
           (port CLK (direction INPUT)
 )
           (port aReset (direction INPUT))
           (port G (direction OUTPUT))
         )
         (contents
          (instance CLK_pad (viewRef prim (cellRef CLKBUF (libraryRef PA3)))
          )
          (instance un6_adder_value_I_8 (viewRef prim (cellRef NOR2B (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance un6_adder_value_I_19 (viewRef prim (cellRef NOR2B (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance (rename adder_value_RNIKH0T_5 "adder_value_RNIKH0T[5]") (viewRef prim (cellRef NOR3C (libraryRef PA3)))          )
          (instance (rename adder_value_RNINSFE_3 "adder_value_RNINSFE[3]") (viewRef prim (cellRef NOR2B (libraryRef PA3)))          )
          (instance (rename adder_value_RNIP4GE_4 "adder_value_RNIP4GE[4]") (viewRef prim (cellRef NOR2B (libraryRef PA3)))          )
          (instance (rename adder_value_RNO_4 "adder_value_RNO[4]") (viewRef prim (cellRef AO1 (libraryRef PA3)))          )
          (instance (rename adder_value_RNO_3 "adder_value_RNO[3]") (viewRef prim (cellRef AO1 (libraryRef PA3)))          )
          (instance (rename adder_value_0 "adder_value[0]") (viewRef prim (cellRef DFN1C1 (libraryRef PA3)))
          )
          (instance (rename adder_value_1 "adder_value[1]") (viewRef prim (cellRef DFN1C1 (libraryRef PA3)))
          )
          (instance (rename adder_value_2 "adder_value[2]") (viewRef prim (cellRef DFN1C1 (libraryRef PA3)))
          )
          (instance (rename adder_value_3 "adder_value[3]") (viewRef prim (cellRef DFN1P1 (libraryRef PA3)))
          )
          (instance (rename adder_value_4 "adder_value[4]") (viewRef prim (cellRef DFN1P1 (libraryRef PA3)))
          )
          (instance (rename adder_value_5 "adder_value[5]") (viewRef prim (cellRef DFN1C1 (libraryRef PA3)))
          )
          (instance (rename adder_value_6 "adder_value[6]") (viewRef prim (cellRef DFN1C1 (libraryRef PA3)))
          )
          (instance G_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance aReset_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance un6_adder_value_I_31 (viewRef prim (cellRef XOR2 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance un6_adder_value_I_30 (viewRef prim (cellRef AND3 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance un6_adder_value_I_27 (viewRef prim (cellRef AND2 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance un6_adder_value_I_24 (viewRef prim (cellRef XOR2 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance un6_adder_value_I_23 (viewRef prim (cellRef AND3 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance un6_adder_value_I_20 (viewRef prim (cellRef XOR2 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance un6_adder_value_I_16 (viewRef prim (cellRef AND3 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance un6_adder_value_I_13 (viewRef prim (cellRef XOR2 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance un6_adder_value_I_12 (viewRef prim (cellRef AND3 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance un6_adder_value_I_9 (viewRef prim (cellRef XOR2 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance un6_adder_value_I_5 (viewRef prim (cellRef XOR2 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance un6_adder_value_I_4 (viewRef prim (cellRef INV (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (instance VCC_i_0 (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i_0 (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net (rename adder_valueZ0Z_0 "adder_value[0]") (joined
           (portRef Q (instanceRef adder_value_0))
           (portRef A (instanceRef un6_adder_value_I_4))
           (portRef A (instanceRef un6_adder_value_I_5))
           (portRef A (instanceRef un6_adder_value_I_12))
           (portRef A (instanceRef un6_adder_value_I_16))
           (portRef B (instanceRef adder_value_RNINSFE_3))
           (portRef B (instanceRef un6_adder_value_I_8))
          ))
          (net (rename adder_valueZ0Z_1 "adder_value[1]") (joined
           (portRef Q (instanceRef adder_value_1))
           (portRef B (instanceRef un6_adder_value_I_5))
           (portRef B (instanceRef un6_adder_value_I_12))
           (portRef B (instanceRef un6_adder_value_I_16))
           (portRef B (instanceRef adder_value_RNIP4GE_4))
           (portRef A (instanceRef un6_adder_value_I_8))
          ))
          (net (rename adder_valueZ0Z_2 "adder_value[2]") (joined
           (portRef Q (instanceRef adder_value_2))
           (portRef B (instanceRef un6_adder_value_I_9))
           (portRef C (instanceRef un6_adder_value_I_12))
           (portRef C (instanceRef un6_adder_value_I_16))
           (portRef A (instanceRef adder_value_RNIKH0T_5))
          ))
          (net (rename adder_valueZ0Z_3 "adder_value[3]") (joined
           (portRef Q (instanceRef adder_value_3))
           (portRef B (instanceRef un6_adder_value_I_13))
           (portRef B (instanceRef un6_adder_value_I_23))
           (portRef A (instanceRef un6_adder_value_I_27))
           (portRef A (instanceRef adder_value_RNINSFE_3))
           (portRef A (instanceRef un6_adder_value_I_19))
          ))
          (net (rename adder_valueZ0Z_4 "adder_value[4]") (joined
           (portRef Q (instanceRef adder_value_4))
           (portRef B (instanceRef un6_adder_value_I_20))
           (portRef C (instanceRef un6_adder_value_I_23))
           (portRef B (instanceRef un6_adder_value_I_27))
           (portRef A (instanceRef adder_value_RNIP4GE_4))
          ))
          (net (rename adder_valueZ0Z_5 "adder_value[5]") (joined
           (portRef Q (instanceRef adder_value_5))
           (portRef B (instanceRef un6_adder_value_I_24))
           (portRef C (instanceRef un6_adder_value_I_30))
           (portRef B (instanceRef adder_value_RNIKH0T_5))
          ))
          (net I_4 (joined
           (portRef Y (instanceRef un6_adder_value_I_4))
           (portRef D (instanceRef adder_value_0))
          ))
          (net I_5 (joined
           (portRef Y (instanceRef un6_adder_value_I_5))
           (portRef D (instanceRef adder_value_1))
          ))
          (net I_9 (joined
           (portRef Y (instanceRef un6_adder_value_I_9))
           (portRef D (instanceRef adder_value_2))
          ))
          (net I_13 (joined
           (portRef Y (instanceRef un6_adder_value_I_13))
           (portRef C (instanceRef adder_value_RNO_3))
          ))
          (net I_20 (joined
           (portRef Y (instanceRef un6_adder_value_I_20))
           (portRef C (instanceRef adder_value_RNO_4))
          ))
          (net I_24 (joined
           (portRef Y (instanceRef un6_adder_value_I_24))
           (portRef D (instanceRef adder_value_5))
          ))
          (net I_31 (joined
           (portRef Y (instanceRef un6_adder_value_I_31))
           (portRef D (instanceRef adder_value_6))
          ))
          (net (rename adder_value_5_3 "adder_value_5[3]") (joined
           (portRef Y (instanceRef adder_value_RNO_3))
           (portRef D (instanceRef adder_value_3))
          ))
          (net (rename adder_value_5_4 "adder_value_5[4]") (joined
           (portRef Y (instanceRef adder_value_RNO_4))
           (portRef D (instanceRef adder_value_4))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net (rename un6_adder_value_U1_DWACT_FINC_E_0 "un6_adder_value.U1.DWACT_FINC_E[0]") (joined
           (portRef Y (instanceRef un6_adder_value_I_16))
           (portRef A (instanceRef un6_adder_value_I_23))
           (portRef A (instanceRef un6_adder_value_I_30))
           (portRef B (instanceRef un6_adder_value_I_19))
          ))
          (net (rename un6_adder_value_U1_DWACT_FINC_E_1 "un6_adder_value.U1.DWACT_FINC_E[1]") (joined
           (portRef Y (instanceRef un6_adder_value_I_27))
           (portRef B (instanceRef un6_adder_value_I_30))
          ))
          (net (rename un6_adder_value_N_4 "un6_adder_value.N_4") (joined
           (portRef Y (instanceRef un6_adder_value_I_30))
           (portRef A (instanceRef un6_adder_value_I_31))
          ))
          (net (rename un6_adder_value_N_9 "un6_adder_value.N_9") (joined
           (portRef Y (instanceRef un6_adder_value_I_23))
           (portRef A (instanceRef un6_adder_value_I_24))
          ))
          (net (rename un6_adder_value_N_12 "un6_adder_value.N_12") (joined
           (portRef Y (instanceRef un6_adder_value_I_19))
           (portRef A (instanceRef un6_adder_value_I_20))
          ))
          (net (rename un6_adder_value_N_17 "un6_adder_value.N_17") (joined
           (portRef Y (instanceRef un6_adder_value_I_12))
           (portRef A (instanceRef un6_adder_value_I_13))
          ))
          (net (rename un6_adder_value_N_20 "un6_adder_value.N_20") (joined
           (portRef Y (instanceRef un6_adder_value_I_8))
           (portRef A (instanceRef un6_adder_value_I_9))
          ))
          (net CLK_c (joined
           (portRef Y (instanceRef CLK_pad))
           (portRef CLK (instanceRef adder_value_6))
           (portRef CLK (instanceRef adder_value_5))
           (portRef CLK (instanceRef adder_value_4))
           (portRef CLK (instanceRef adder_value_3))
           (portRef CLK (instanceRef adder_value_2))
           (portRef CLK (instanceRef adder_value_1))
           (portRef CLK (instanceRef adder_value_0))
          ))
          (net CLK (joined
           (portRef CLK)
           (portRef PAD (instanceRef CLK_pad))
          ))
          (net aReset_c (joined
           (portRef Y (instanceRef aReset_pad))
           (portRef CLR (instanceRef adder_value_6))
           (portRef CLR (instanceRef adder_value_5))
           (portRef PRE (instanceRef adder_value_4))
           (portRef PRE (instanceRef adder_value_3))
           (portRef CLR (instanceRef adder_value_2))
           (portRef CLR (instanceRef adder_value_1))
           (portRef CLR (instanceRef adder_value_0))
          ))
          (net aReset (joined
           (portRef aReset)
           (portRef PAD (instanceRef aReset_pad))
          ))
          (net (rename adder_value_c_6 "adder_value_c[6]") (joined
           (portRef Q (instanceRef adder_value_6))
           (portRef B (instanceRef un6_adder_value_I_31))
           (portRef D (instanceRef G_pad))
          ))
          (net G (joined
           (portRef PAD (instanceRef G_pad))
           (portRef G)
          ))
          (net un13_adder_value_1 (joined
           (portRef Y (instanceRef adder_value_RNIP4GE_4))
           (portRef C (instanceRef adder_value_RNIKH0T_5))
          ))
          (net un13_adder_value_2 (joined
           (portRef Y (instanceRef adder_value_RNINSFE_3))
           (portRef B (instanceRef adder_value_RNO_3))
           (portRef B (instanceRef adder_value_RNO_4))
          ))
          (net un13_adder_value_3 (joined
           (portRef Y (instanceRef adder_value_RNIKH0T_5))
           (portRef A (instanceRef adder_value_RNO_3))
           (portRef A (instanceRef adder_value_RNO_4))
          ))
          (net GND_0 (joined
           (portRef Y (instanceRef GND_i_0))
          ))
          (net VCC_0 (joined
           (portRef Y (instanceRef VCC_i_0))
          ))
         )
       )
    )
  )
  (design counter40 (cellRef counter40 (libraryRef work)))
)
